.leftFold{
    background-color: #ebebeb;
    height: 100%;
    box-shadow: 5px 0px 6px #dbdbdb, -5px 0px 6px #dbdbdb;
    width: 100%;
    z-index: -1;
}

.leftFold-menu{
   height: 47%;
   padding:16px 0px 0px 16px;
}

.leftFold-dailer{
    background-color: white;
    height: 47%;
    padding: 16px;
    position: relative;
}
.menu-item{
    margin-top: 16px;
}

.menu-label{
    font-weight: 700;
    font-size: 14px;
}

.dialerlabel{
   font-weight: 700;
   font-size: 20px;
   color: #616161;

}

.dialer-search{
    width: 100%;
    background-color: #f5f5f5;
    margin: 8px 0px;
    
    
}

.dialer-search input{
    background-color: transparent;
    border: none;
    padding: 8px;
    outline: none;
}

.dialer-suggested{
    width: 100%;
}

.dialer-suggestion{
    font-size: 16px;
    font-weight: 400;
    color: #616161;
}

.suggested-list{
    width: 100%;
    margin-top:6px;
}

.dialer-bottom{
   position: absolute;
   bottom: -15px;
   display: flex;
   
   justify-content: center;
   
   width: 90%;
}

.dialer-bottom-icon{
    background-color: #ebebeb;
    padding: 8px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 4px;
    
}